body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.color_change {
    color: crimson;
}

section {
    display: flex;
}

.sizes {
    width: 100%;
    padding-left: 10%;
}

.sizes img {
    width: 100%;
    padding-right: 10%;
}

.linkbutton {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 7px;
    color: white;
    font-weight: bold;
}

.top_banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}